<a href="https://colab.research.google.com/github/kennethayson/Skyline-Math-200/blob/main/Summary_Statistics_Lab_1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You will learn all about how to use Python to create Summary Statistics

*  mean()
*  median()


*   std()
*   min()


*  max()
*  agg()

groupby

In [ ]:
import pandas as pd

In [ ]:
link = 'https://raw.githubusercontent.com/kmath22/kmath22/main/Data%20Science%20Jobs%20Salaries.csv'

ds_df = pd.read_csv(link)
ds_df.head()

In [27]:
#View the column which contains a person's salary in dollars

ds_df['salary_in_usd'].describe().round(2)

count       245.00
mean      99868.01
std       83983.33
min        2876.00
25%       45896.00
50%       81000.00
75%      130000.00
max      600000.00
Name: salary_in_usd, dtype: float64

In [28]:
#What is the average salary of a data scientist?

ds_df['salary_in_usd'].mean().round(2)

99868.01

In [30]:
##What is the median salary of a data scientist?

ds_df['salary_in_usd'].median().round(2)

81000.0

In [31]:
#What is the salary standard deviation?
ds_df['salary_in_usd'].std().round(2)

83983.33

In [32]:
#Use agg() to find the mean, median, and standard deviation of a data scientist salary
ds_df['salary_in_usd'].agg(['mean','median','std']).round(2)

mean      99868.01
median    81000.00
std       83983.33
Name: salary_in_usd, dtype: float64

In [33]:
#Use describe to find a five number summary for salary

ds_df['salary_in_usd'].describe()

count       245.000000
mean      99868.012245
std       83983.326949
min        2876.000000
25%       45896.000000
50%       81000.000000
75%      130000.000000
max      600000.000000
Name: salary_in_usd, dtype: float64

In [34]:
#Find the average salary by company size
ds_df.groupby('company_size')['salary_in_usd'].mean().round(2)

company_size
L    114374.02
M     85082.82
S     80874.79
Name: salary_in_usd, dtype: float64

In [35]:
#Find the average, median, and max salary by company size
ds_df.groupby('company_size')['salary_in_usd'].describe().round(2)

,count,mean,std,min,25%,50%,75%,max
company_size,,,,,,,,
L,132.0,114374.02,90822.33,5898.0,56183.5,91500.0,150000.0,600000.0
M,55.0,85082.82,72504.46,4000.0,36337.5,71968.0,116062.5,450000.0
S,58.0,80874.79,72038.85,2876.0,35555.5,68364.5,101951.0,416000.0

In [ ]:
#Use researchpy

In [ ]:
pip install researchpy

In [ ]:
import researchpy as rp

In [ ]:
rp.summary_cont(ds_df['salary'])

In [ ]:
rp.summarize(ds_df['salary'])

Part 2:  Use the Diamond dataset you stored in Github

In [21]:
import pandas as pd

In [22]:
#Upload the diamond dataset in Github
# paste the url into the ''
link2 ='https://raw.githubusercontent.com/kennethayson/Skyline-Math-200/main/Diamonds.csv'

diamond_df = pd.read_csv(link2)

In [23]:
#View the diamond_df dataset
diamond_df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [25]:
#What is the average price of a diamond

diamond_df['carat'].describe().round(2)

count    53940.00
mean         0.80
std          0.47
min          0.20
25%          0.40
50%          0.70
75%          1.04
max          5.01
Name: carat, dtype: float64